/* Estilos para la sección de inicio de sesión */
#auth {
    background-color: #1a1a1a; /* Fondo oscuro */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: #FFD700; /* Texto dorado */
    text-align: center;
}

/* Estilos para el contenedor de inicio de sesión */
.google-signin-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Alinear verticalmente */
    justify-content: center;
    align-items: center;
}

/* Estilos para el botón de Google */
#google-signin {
    background-color: #FFD700; /* Fondo dorado */
    color: #000; /* Texto negro */
    border: 2px solid #FFD700;
    padding: 10px 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: fit-content;
    margin-bottom: 15px; /* Espacio debajo del botón */
}

#google-signin:hover {
    background-color: #e6c200; /* Fondo dorado más oscuro para el hover */
    color: #000;
}

/* Estilos para el botón de Cerrar Sesión */
#signout {
    background-color: #FFD700; /* Fondo dorado */
    color: #000; /* Texto negro */
    border: 2px solid #FFD700;
    padding: 10px 20px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Inicialmente oculto */
    width: fit-content;
}

#signout:hover {
    background-color: #e6c200;
    color: #000;
}

/* Información del usuario */
#user-info {
    margin-top: 15px;
    text-align: center;
    color: #FFD700; /* Texto dorado */
    display: flex;
    flex-direction: column; /* Alinear elementos verticalmente */
    align-items: center;
}

/* Foto de perfil del usuario */
#user-photo {
    margin-bottom: 10px; /* Espacio debajo de la foto */
    border: 1px solid #0e0e0e;
    border-radius: 50%;
}

/* Nombre del usuario */
#user-name {
    margin-bottom: 10px; /* Espacio debajo del nombre */
    font-size: 1.2rem;
    font-weight: bold;
}
