/* Estilos para los botones de reacciones */
.reacciones-section  {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    color: #000000; /* Texto en negro */
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 10px 20px;
}

.reaccion-button {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    color: #ffffff; /* Texto en blanco */
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.reacciones-section .reaccion-button.active {
    background-color: #FFD700; /* Color dorado cuando está activo */
    color: #ffffff; /* Texto en blanco */
    transform: scale(1.1); /* Efecto de aumento al estar activo */
}

.reacciones-section .reaccion-button:hover {
    background-color: #e6b800; /* Color dorado más oscuro al hacer hover */
}

/* Ajustes generales de la sección de reacciones */
.reacciones-section h2 {
    font-size: 2rem;
    color: #FFD700;
}

/* Estilo para mostrar usuarios que reaccionaron */
#reacciones-usuarios p {
    color: #FFD700;
    font-size: 1.2rem;
    animation: fadeInUp 0.5s forwards; /* Animación de entrada */
}

#reacciones-usuarios img {
    border: 2px solid #FFD700;
}

#caballo-count,
#libertad-count,
#filosofico-count,
#fitness-count {
    transition: color 0.3s;
}

/* Animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

/* Clase para la animación de salida */
.fade-out {
    animation: fadeOutDown 0.5s forwards;
}
